body{
    max-width: 1280px;
    margin: auto;
    padding: auto;
    max-height: auto;
    position: relative;
    padding-bottom: 0px; /*58px*/
    min-height: 100vh;
}

.logo{
    display: block;
    background-color: black;
    padding: 10px;
    height: 70px;
}

.navbar{
    display: block;
    overflow: hidden;
    padding: 10px;
    margin: -80px 0px 20px 832px;
    text-align: right;
}

.navbar a{
    float: left;
    font-size: 18px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.label{
    font-size: 20px;
}

.imgArea{
    position: relative;
}

.upload{
    width: 40px; 
    height: 40px; 
    vertical-align: middle;
}

.upload-input{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0;
    right: 0; 
    opacity: 0;
}

img{
    width: 250px;
    height:auto;
}

.imgContainer{
    margin-top: 10px;
}

input[type=button]{
    color: black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}

textarea{
    height: 20px;
    width: 800px;
}

button{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
}

footer{
    display: block;
    margin: 0%;
    padding: 1px 0px 2px 0px;
    background-color: black;
    height: 45px;
    /* position: relative; */
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    color: white;
    text-align: center;
    
}

footer a{
    float: right;
    color: white;
    margin: -32px 10px 0px 0px;
    text-decoration: none;
    flex: 0 0 auto
}

button{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
}