body{
    max-width: 1280px;
    margin: auto;
    padding: auto;
    max-height: auto;
}

.menu{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar{
    background-color: black;
    float:right;
    position: absolute;
    margin-top: 40px;
    margin-left: 300px;
    visibility: hidden;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding: 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.navbar a:hover{
    background-color: red;
}
.murdoch{
    margin: 10px;
    height:auto;
    float: left;
    padding: 0;
}

.loginform{
    border-style: solid;
    border-color: red;
    text-align: center;
    height: 300px;
    width: 400px;
    margin: 20px auto;
    position: relative;
    font-weight: bold;
    font-size: 18px;
}
label{
    display: block;
    padding: 5px;
}
input[type=email], input[type=password]{
    padding: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
button{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
}

footer{
    display: block;
    margin: 0%;
    padding: 1px 0px 2px 0px;
    background-color: black;
    height: 45px;
    position: relative;
}
p{
    color: white;
    text-align: center;
    
}

footer a{
    float: right;
    color: white;
    margin: -32px 10px 0px 0px;
    text-decoration: none;
}