body{
    max-width: 1280px;
    margin: auto;
    padding: auto;
    position: relative;
    padding-bottom: 0px; /*58px*/
    min-height: 100vh;
}

.navbar{
    background-color: black;
    padding: 2px;
    margin: auto;
}

.login_form{
    border-style: solid;
    border-color: red;
    text-align: center;
    height: 500px;
    width: 400px;
    margin: 20px auto;
    position: relative;
    font-weight: bold;
    font-size: 18px;
}

input[type=email], input[type=password]{
    padding: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 250px;
}

button{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li{
    padding: 10px;
    display: inline;
    
}

a{
    color: white;
    text-decoration: none;
}

footer{
    display: block;
    margin: 0%;
    padding: 1px 0px 2px 0px;
    background-color: black;
    height: 45px;
    /* position: relative; */
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

p{
    color: white;
    text-align: center;
    
}

footer a{
    float: right;
    color: white;
    margin: -32px 10px 0px 0px;
    text-decoration: none;
    flex: 0 0 auto
}



