body{
    max-width: 1280px;
    margin: auto;
    padding: auto;
    max-height: auto;
}

.navbar{
    background-color: black;   
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    padding: 10px;
}


img{
    width: 250px;
    height:auto;
}

.chooselogin{
    font-size: 18px;
    width: 40%;
    margin-left: 30%;
    padding: 10px;
    text-align: center;
}
.chooselogin ul{
    display: block;
    background-color: grey;
    border-radius: 20px;    
}
.chooselogin a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px;
    border-radius: 20px; 
}
.chooselogin ul a:hover{
    background-color: red;
}
h2{
    font-size: 30px;
}
footer{
    display: block;
    margin: 0%;
    padding: 1px 0px 2px 0px;
    background-color: black;
    height: 45px;
    position: relative;
}
p{
    color: white;
    text-align: center;
    
}

footer a{
    float: right;
    color: white;
    margin: -32px 10px 0px 0px;
    text-decoration: none;
}
