body{
    max-width: 1280px;
    margin: auto;
    padding: auto;
    max-height: auto;
    position: relative;
    padding-bottom: 0px; /*58px*/
    min-height: 100vh;
}

.logo{
    display: block;
    background-color: black;
    padding: 10px;
    height: 70px;
}

.navbar{
    display: block;
    overflow: hidden;
    padding: 10px;
    margin: -80px 0px 20px 832px;
    text-align: right;
}

.navbar a{
    float: left;
    font-size: 18px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .droplist{
    font-size:18px;
    border:none;
    outline: none;
    color:white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover .droplist{
    background-color: red;
}

.contentlist{
    display: none;
    position: absolute;
    background-color: grey;
    min-width:160px;
    z-index: 1;
}

.contentlist a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.contentlist a:hover{
    background-color: red;
}

.dropdown:hover .contentlist{
    display: block;
}

.batchupdateform{
    border-style: solid;
    border-color: black;
    text-align: center;
    height: 500px;
    width: 800px;
    margin: 20px auto;
    position: relative;
    font-weight: bold;
    font-size: 18px;
}

input[type=email], input[type=password]{
    padding: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 250px;
}

button{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
}

footer{
    display: block;
    margin: 0%;
    padding: 1px 0px 2px 0px;
    background-color: black;
    height: 45px;
    /* position: relative; */
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

p{
    color: white;
    text-align: center;
    
}

footer a{
    float: right;
    color: white;
    margin: -32px 10px 0px 0px;
    text-decoration: none;
    flex: 0 0 auto
}

