.dashboard{
    margin:10px;
    justify-content: center;
    padding-bottom: 20px;
    justify-content: center;
}

.top{
    margin-left: 30px;
    padding: 10px;
}

.applications{
    background-color: #bfbfbf;
    padding: 10px;
    text-align: center;
    box-shadow: -14px 8px 9px 0px #ABA1A0;
    float: left;
    width: 550px;
    font-size: 18px;
    font-weight: bold;

}

.enquiries{
    background-color: #bfbfbf;
    padding: 10px;
    text-align: center;
    box-shadow: 14px 8px 7px 0px #ABA1A0;
    float: left;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 550px;
    font-size: 18px;
    font-weight: bold;
    
}

.top button{
    margin-top: 10px;
    background-color: red;
    width: 220px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;

}


a{
    text-decoration: none;
    color: white;
}
.bottom{
    clear: both;
    padding: 10px;
    justify-content: center;
    margin-left: 50px;
}
table{
    background-color: #f5f2f1;
    width: 1000px;
    margin: 50px;
    padding: 20px;
    border:1px solid #ccc; 
    
    
}
td{
    padding: 5px;
    text-align: left;
    padding-left: 80px;
    
}