.StudentProfileForm{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 10px;
    justify-content: center;
}
.photo{
    margin: 50px 0 0 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contactpart{
    margin: -10px 0 10px 50px;
    float: left;
}
input[type="text"]{
    padding: 5px;
    margin: 5px;
}
.detailspart{
    width: 60%;
    float: right;
    margin: -290px 0 20px 0;
}

textarea{
    width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color: red;
}

.upload{
    color: white;
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
}

.updatebtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-top: -30px;
    margin-right: 50px;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
    height: 30px;
    font-weight: bold;

}