body{
    max-width: 1280px;
    margin: auto;
    padding: auto;
    max-height: auto;
    position: relative;
    padding-bottom: 0px; /*58px*/
    min-height: 100vh;
}

.menu{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar{
    background-color: black;
    float:right;
    position: absolute;
    margin-top: 40px;
    margin-left: 300px;
    visibility: hidden;
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding: 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

.navbar a:hover{
    background-color: #e82b49;
}
.murdoch{
    margin: 10px;
    height:auto;
    float: left;
    padding: 0;
}

.loginform{
    border-style: solid;
    border-color: #e82b49;
    text-align: center;
    height: 400px;
    width: 600px;
    margin: 30px auto;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
    display: block;
    padding: 5px;
    text-align: left;
    margin-left: 160px;
}
input[type=email], input[type=password]{
    padding: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 250px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    border-radius: 10px;
    background-color: #e82b49;
    color: white;
    width: 130px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

footer{
    display: block;
    margin: 0%;
    padding: 1px 0px 2px 0px;
    background-color: black;
    height: 45px;
    position: relative;
}
p{
    color: white;
    text-align: center;
    
}
p a {
    float: left;
    margin-left: 120px;
    margin-top: 5px;
    text-decoration: none;
}