.StudentProfile{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 10px;
    justify-content: center;
}

.details{
    margin-left: 10px;
    float:left;
}
.studentinfo{
    width:75%;
    float: right;
}

h2, h3{
    color:#e82b49;
}
.editbtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e82b49;
    color: white;
    font-weight: bold;
    float: right;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 15px;
}
.editbtn a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}