h2, h3{
    color: #e82b49;
}
input[type=submit]{
    background-color: #e82b49;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight: bolder;
}
.contactusform{
    margin:20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
    font-size: 18px;
}
select{
    width: 400px;
    height: 30px;
    font-size: 15px;
}
textarea{
    width: 450px;
}